<mat-toolbar>
  <mat-toolbar-row>
    <mat-checkbox *ngIf="state >= toolbarService.TOOLBAR_STATE_CHECKBOX_NONE_SELECTED && state <= toolbarService.TOOLBAR_STATE_CHECKBOX_ALL_SELECTED"
      (change)="$event ? changeAll() : null"
      [checked]="state === toolbarService.TOOLBAR_STATE_CHECKBOX_ALL_SELECTED || state === toolbarService.TOOLBAR_STATE_CHECKBOX_ONE_OF_ONE_SELECTED"
      [indeterminate]="state === toolbarService.TOOLBAR_STATE_CHECKBOX_SOME_SELECTED || state === toolbarService.TOOLBAR_STATE_CHECKBOX_ONE_SELECTED">
    </mat-checkbox>
    <button *ngIf="state === toolbarService.TOOLBAR_STATE_BACK_DEFAULT || state === toolbarService.TOOLBAR_STATE_BACK_MODE_EDIT" mat-button color="primary" class="mat-button-back" (click)="location.back();">
      <mat-icon aria-label="Back" class="material-icons-outlined">arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon class="material-icons-outlined">note_add</mat-icon>
      <span class="text">New Note</span>
    </button>

    <div class="actions state-{{ state }}">
      <button mat-button color="{{ state === toolbarService.TOOLBAR_STATE_BACK_MODE_EDIT ? 'warn' : 'primary' }}" (click)="toggleEditState();" class="actions-if-any-selected" [disabled]="(state !== toolbarService.TOOLBAR_STATE_CHECKBOX_ONE_SELECTED && state !== toolbarService.TOOLBAR_STATE_CHECKBOX_ONE_OF_ONE_SELECTED) && state !== toolbarService.TOOLBAR_STATE_BACK_DEFAULT && state !== toolbarService.TOOLBAR_STATE_BACK_MODE_EDIT">
        <mat-icon aria-label="Edit" class="material-icons-outlined">edit</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Duplicate" class="material-icons-outlined">file_copy</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Move" class="material-icons-outlined">forward</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Print" class="material-icons-outlined">print</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Export" class="material-icons-outlined">save_alt</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Share" class="material-icons-outlined">share</mat-icon>
      </button>
      <button mat-button color="primary" class="actions-if-any-selected">
        <mat-icon aria-label="Delete" class="material-icons-outlined">delete</mat-icon>
      </button>

      <button mat-button color="primary" class="actions-if-none-selected">
        <mat-icon aria-label="Sort" class="material-icons-outlined">sort_by_alpha</mat-icon>
      </button>
    </div>

    <span class="fill-remaining-space"></span>

    <form class="search">
      <mat-form-field class="search-field" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" tabindex="1">
      </mat-form-field>
    </form>

    <span class="fill-remaining-space"></span>

    <img class="logo" src="assets/images/paperwork-logo.png">
  </mat-toolbar-row>
</mat-toolbar>
