@import "paperwork-theme.scss";

.profile {
  min-width: $sidebar-width;
  padding: 0px;

  .mat-card-header {
    display: block;

    .mat-card-avatar {
      transition: all 0.5s;
      width: 100px;
      height: 100px;
      margin: 48px 74px 0px 74px;
      background: url('/assets/images/avatar-default.png');
      background-size: 100px 100px;
    }

    .blurred {
      transition: all 0.1s;
      filter: blur(2px);
    }

    .back-button {
      display: block;
      opacity: 0;
      transition: all 0.1s;
      cursor: pointer;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      width: 110px;
      height: 110px;
      background-color: rgba(255, 255, 255, 0.2);
      top: -5px;
      left: 70px;

      .mat-icon {
        width: 70px;
        height: 70px;
        font-size: 70px;
        margin-top: 20px;
      }
    }

    .back-button-on {
      transition: all 0.1s;
      opacity: 1;
    }

    .mat-card-title {
      font-size: mat-font-size($paperwork-typography, headline);
      font-weight: mat-font-weight($paperwork-typography, headline);
    }

    .mat-card-subtitle {
      font-size: mat-font-size($paperwork-typography, subheading-2);
      color: $default-font-color-light;
    }

  }
}
