<mat-card class="mat-elevation-z profile">
  <mat-card-header *ngIf="me$ | async as me">

    <div mat-card-avatar class="avatar" [class.blurred]="selected !== sidebarService.SIDEBAR_SELECTED_DEFAULT" [style.backgroundImage]="'url('+ me.getProfilePhotoPath(envService.gatewayUrl()) +'?_accessToken=' + myAccessToken + ')'"></div>
    <div class="back-button" [class.back-button-on]="selected !== sidebarService.SIDEBAR_SELECTED_DEFAULT">
      <mat-icon class="material-icons-outlined" (click)="navigate('notes')">
        {{ getBackButtonIcon() }}
      </mat-icon>
    </div>

    <mat-card-title>{{ me.name.first_name }}&nbsp;{{ me.name.last_name }}</mat-card-title>
    <mat-card-subtitle>Last sync: 5 minutes ago</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-tab-group [selectedIndex]="selected" class="no-tabs">
  <mat-tab *ngFor="let tab of sidebarService.tabs" label="{{ tab.label }}">
    <partial-sidebar-navigation *ngIf="tab.id == 'notes'"></partial-sidebar-navigation>
    <partial-sidebar-folders *ngIf="tab.id == 'folders'"></partial-sidebar-folders>
    <partial-sidebar-tags *ngIf="tab.id == 'tags'"></partial-sidebar-tags>
    <partial-sidebar-notifications *ngIf="tab.id == 'notifications'"></partial-sidebar-notifications>
  </mat-tab>
</mat-tab-group>
