<mat-card class="mat-elevation-z profile">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>John Doe</mat-card-title>
    <mat-card-subtitle>Usage: 1.21GB</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-tab-group [selectedIndex]="selected" class="no-tabs">
  <mat-tab *ngFor="let tab of sidebarService.tabs" label="{{ tab.label }}">
    <partial-sidebar-navigation *ngIf="tab.id == 'notes'"></partial-sidebar-navigation>
    <partial-sidebar-folders *ngIf="tab.id == 'folders'"></partial-sidebar-folders>
  </mat-tab>
</mat-tab-group>
