@import "paperwork-theme.scss";

.background-wrapper {
  transition: all 1s;
  height: 100vh;

  .note {
    padding: 0px 80px 0px 32px;
    display: flex;
    flex-flow: column;
    height: 100%;

    .spacer {
      height: 74px;
    }

    .view {
      display: flex;
      flex-flow: column;
      margin: 0px 0px 0px 86px;
      height: 100%;

      .meta {
        flex-grow: 0;
        display: flex;
        justify-content: space-between;
        color: $color-only-grey;

        .updated_at-time {
          width: 20%;
        }

        .updated_at-date {
          width: 68px;
          margin-left: auto;
          text-align: right;
        }
      }

      .title {
        flex-grow: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 29px;

        .viewer-title {
          h1 {
            margin-top: 7px;
            margin-bottom: 0px;
          }
        }

        .editor-title {
          width: 100%;

          // TODO: This is such a bullshit.
          ::ng-deep .mat-form-field-wrapper { padding-bottom: 0px !important;}
          ::ng-deep .mat-form-field-flex > .mat-form-field-infix { border-top: 0px;}
          ::ng-deep .mat-form-field-label-wrapper { }
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label { }
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline { display: none; bottom: 0.25em; };

          .mat-form-field {
            font-size: mat-font-size($paperwork-typography, headline);
            width: 100%;
          }
        }

        .shared-to {
          display: flex;
          justify-content: flex-start;
          flex-direction: row-reverse;
          width: 30%;
          margin-left: auto;
          text-align: right;

          button:first-child {
            right: 0px;
          }

          button {
            right: -8px;
          }

          @for $i from 1 through 100 {
            button:nth-child(#{$i}) {
              background-color: hsl(random(360),20 + random(70 + -20), 30 + random(90 + -30));
            }
          }
        }

      }

      .tags {
        flex-grow: 0;
        min-height: 10px;

        .viewer-tags {
          .mat-chip-list {
            display: flex;
            align-items: center;

            .tag {
              margin-top: 11px;
            }
          }
        }

        .viewer-tags .mat-chip-list, .editor-tags .mat-chip-list {
          .tag {
            background-color: transparent;
            color: $color-only-dark-grey;
            border: 1px solid $color-only-dark-grey;
            border-radius: 5px;
            min-height: 26px;
          }

          .tag.mat-chip-selected { // TODO: Doesn't work
            background-color: transparent !important;
          }

          .tag.mat-chip-focused { // TODO: Doesn't work
            background-color: transparent !important;
          }
        }

        .editor-tags {
          ::ng-deep .mat-form-field-flex > .mat-form-field-infix { border-top: 0px;}
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline { display: none; };
          ::ng-deep .mat-form-field-label-wrapper {
            .mat-form-field-label {
              font-size: mat-font-size($paperwork-typography, button);
              margin: 7px 0px;
            }
          }

          .mat-form-field {
            width: 100%;

            input.mat-input-element {
              margin: 0px;
              padding: 10px 0px 10px 5px;
            }
          }
        }
      }

      .body {
        display: flex;
        flex-grow: 1;
        height: 100%;
        margin: 0px 0px 0px 0px;
        min-height: 360px;

        .viewer-body {
          padding-top: 46px;

          font-size: mat-font-size($paperwork-typography, body-1) + 2px;
          line-height: mat-line-height($paperwork-typography, body-1) + 2px;
        }

        .editor-body {
          display: flex;
          flex-grow: 1;
          height: 100%;
          padding-top: 31px;

          textarea {
            height: 100%;
            min-height: 320px;
            font-size: mat-font-size($paperwork-typography, body-1) + 2px;
            line-height: mat-line-height($paperwork-typography, body-1) + 2px;
          }

        }
      }

      .attachments {
        flex-grow: 0;
        margin: 40px 0px 0px 0px;
        padding: 20px 8px;
        border-top: 1px dashed $color-only-grey;

        .mat-chip-list {
          .mat-chip {
            background-color: transparent;

            .mat-icon {
              color: $primary;
            }
          }
        }
      }

    }
  }

}
