@import "paperwork-theme.scss";

.background-wrapper {
  transition: all 1s;
  height: 100vh;

  .note {
    height: 100%;
    padding: 0px 50px 0px 32px;

    .spacer {
      flex-grow: 0;
      height: 74px;
    }

    .view {
      margin: 0px 0px 0px 26px;
      height: calc(100% - 170px);

      .meta {
        justify-content: space-between;
        color: $color-only-grey;

        .updated_at-time {
          width: 20%;
        }

        .updated_at-date {
          width: 68px;
          margin-left: auto;
          text-align: right;
        }
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 50px;

        .viewer-title {
          h1 {
            margin-top: 7px;
            margin-bottom: 0px;
          }
        }

        .editor-title {
          width: 100%;

          // TODO: This is such a bullshit.
          ::ng-deep .mat-form-field-wrapper { padding-bottom: 0px !important;}
          ::ng-deep .mat-form-field-flex > .mat-form-field-infix { border-top: 0px;}
          ::ng-deep .mat-form-field-label-wrapper { }
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label { }
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline { display: none; bottom: 0.25em; };

          .mat-form-field {
            font-size: mat-font-size($paperwork-typography, headline);
            width: 100%;
          }
        }

        .shared-to {
          display: flex;
          justify-content: flex-start;
          flex-direction: row-reverse;
          width: 30%;
          margin-left: auto;
          text-align: right;

          button:first-child {
            right: 0px;
          }

          button {
            right: -8px;
          }

          @for $i from 1 through 100 {
            button:nth-child(#{$i}) {
              background-color: hsl(random(360),20 + random(70 + -20), 30 + random(90 + -30));
            }
          }
        }

      }

      .tags {
        overflow-x: scroll;
        height: 36px;

        .viewer-tags {

          .mat-chip-list {
            display: flex;
            align-items: center;

            .tag {
              margin-top: 11px;
            }
          }
        }

        .viewer-tags .mat-chip-list, .editor-tags .mat-chip-list {
          ::ng-deep .mat-chip-list-wrapper {
            flex-wrap: nowrap;
          }

          .tag {
            background-color: transparent;
            color: $color-only-dark-grey;
            border: 1px solid $color-only-dark-grey;
            border-radius: 5px;
            min-height: 26px;
          }

          .tag.mat-chip-selected { // TODO: Doesn't work
            background-color: transparent !important;
          }

          .tag.mat-chip-focused { // TODO: Doesn't work
            background-color: transparent !important;
          }
        }

        .editor-tags {
          ::ng-deep .mat-form-field-flex > .mat-form-field-infix { border-top: 0px;}
          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline { display: none; };
          ::ng-deep .mat-form-field-label-wrapper {
            .mat-form-field-label {
              font-size: mat-font-size($paperwork-typography, button);
              margin: 7px 0px;
            }
          }

          .mat-chip-list {
            display: flex;
            align-items: center;
          }

          .mat-form-field {
            width: 100%;

            input.mat-input-element {
              margin: 0px;
              padding: 10px 0px 10px 5px;
            }
          }
        }
      }

      .body {
        display: flex;
        flex-grow: 1;
        height: calc(100% - 260px);
        margin: 0px 0px 0px 0px;
        min-height: 360px;

        .viewer-body {
          padding-top: 46px;
          padding-bottom: 32px;

          font-size: mat-font-size($paperwork-typography, body-1) + 2px;
          line-height: mat-line-height($paperwork-typography, body-1) + 2px;
        }

        .editor-body {
          width: 100%;
          // display: flex;
          // flex-grow: 1;
          // height: 100%;
          padding-top: 45px;

          // EDITOR MARKDOWN
        }
      }

      .attachments {
        flex-grow: 0;
        height: 120px;
        margin: 4px 0px 0px 0px;
        padding: 20px 8px 20px 8px;
        border-top: 1px dashed $color-only-grey;

        .mat-chip-list {
          .mat-chip {
            background-color: transparent;

            .mat-icon {
              color: $primary;
            }
          }
        }
      }

    }
  }

}

// Keeping things separated in order to split them up later
.editor-markdown {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  textarea {
    flex-grow: 1;
    width: 100%;
    // height: 90%;
    min-height: 320px;
    font-size: mat-font-size($paperwork-typography, body-1) + 2px;
    line-height: mat-line-height($paperwork-typography, body-1) + 2px;
  }

  .editor-toolbar {
    flex-grow: 0;
    width: 100%;
    height: 32px;
  }
}
