<div class="background-wrapper {{ toolbarState == toolbarService.TOOLBAR_STATE_BACK_MODE_EDIT ? 'background-plain' : 'background-alternative' }}">
  <section class="note mat-typography">
    <div class="spacer"></div>

    <partial-toolbar-main></partial-toolbar-main>

    <form *ngIf="note$ | async as note" class="view" [formGroup]="editor">

<!--       <section class="meta">
        <small class="updated_at-time">Last change: {{ note.created_at | date:'shortTime' }}</small>
        <small class="updated_at-date">{{ note.created_at | date:'shortDate' }}</small>
      </section> -->

      <section class="title">

        <div *ngIf="!modeEdit" class="viewer-title">
          <h1>{{ note.title }}</h1>
        </div>

        <div *ngIf="modeEdit" class="editor-title">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Add title" formControlName="title">
          </mat-form-field>
        </div>

        <div class="shared-to">
          <button mat-mini-fab *ngFor="let access of note.access | keyvalue">
            <mat-icon [attr.aria-label]="'firstname lastname'" class="material-icons-outlined">face</mat-icon>
          </button>
        </div>

      </section>

      <section class="tags">
        <div *ngIf="!modeEdit" class="viewer-tags">
          <mat-chip-list *ngIf="!modeEdit">
            <mat-chip *ngFor="let tag of note.tags" class="tag">{{ tag }}</mat-chip>
          </mat-chip-list>
        </div>

        <div *ngIf="modeEdit" class="editor-tags">
          <mat-form-field floatLabel="never">
            <mat-chip-list #tags>
              <mat-chip *ngFor="let tag of note.tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)" class="tag">
                {{tag}}
                <mat-icon matChipRemove class="material-icons-outlined">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add tags"
                     [matChipInputFor]="tags"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </section>

      <section class="body">
        <div *ngIf="!modeEdit" class="viewer-body">
          <markdown  [data]="note.body"></markdown>
        </div>
        <div *ngIf="modeEdit" class="editor-body">
          <div class="editor-markdown">
            <textarea matInput placeholder="Write your note here" autofocus formControlName="body"></textarea>

            <div class="editor-toolbar">
              <button mat-button>Body</button>
              <button mat-button>Heading 1</button>
              <button mat-button>List</button>
              <button mat-button>Blockquote</button>
              <button mat-button>Bold</button>
              <button mat-button>Italic</button>
              <button mat-button>Strikethrough</button>
              <button mat-button>Link</button>
              <button mat-button>Image</button>
              <button mat-button>Footnote</button>
            </div>

          </div>
        </div>
      </section>

      <section class="attachments">
        <mat-chip-list>
          <mat-chip *ngFor="let attachment of note.attachments" [removable]="modeEdit" (removed)="removeAttachment(attachment)">
            <mat-icon *ngIf="!modeEdit" [attr.aria-label]="'Attachment: ' + attachment" class="material-icons-outlined">attach_file</mat-icon>
            <mat-icon *ngIf="modeEdit" matChipRemove class="material-icons-outlined">cancel</mat-icon>
            {{ attachment }}
          </mat-chip>
        </mat-chip-list>
      </section>

    </form>
  </section>
</div>
