<div [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="view-main-sidenav-container" autosize="false" [hasBackdrop]="mobileQuery.matches" fullscreen>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="view-main-mat-sidenav-content">
      <app-notes></app-notes>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<partial-alert></partial-alert>
