@import "paperwork-theme.scss";

:host(.background-plain) {
  .mat-toolbar, .mat-toolbar-row {
    background: $background-plain;
  }
}

:host(.background-alternative) {
  .mat-toolbar, .mat-toolbar-row {
    background: $background-alternative;
  }
}

.mat-toolbar {
  .mat-toolbar-row {
    width: 100%;
    padding: 0px;
    margin: 74px 0px 0px 0px;

    img.logo {
      display: block;
      width: 48px;
      height: 48px;
    }
  }
}
