<div class="mat-typography">
  <h1 mat-dialog-title i18n>Move</h1>
  <div mat-dialog-content>
    <p i18n>
      Select the folder you would like to move the note(s) into or enter a new one.<br>
      You can create a folder structure by using the <b>/</b>-separator, e.g. <i>Parent Folder/Child Folder</i>.<br>
      <br>
      In order to move a note out of any folder, simply leave the <i>Folder</i> textfield empty.
    </p>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Folder" aria-label="Number" [matAutocomplete]="auto" [(ngModel)]="data.path">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let folder of data.folders" [value]="folder">
        {{ folder }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()" i18n>Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial i18n>Move</button>
  </div>
</div>
