<mat-nav-list>
  <mat-list-item
    *ngFor="let navigationElement of navigationElements"
    [routerLink]="(navigationElement.type === 'route' ? '/' + navigationElement.id : null)"
    [routerLinkActive]="(navigationElement.type === 'route' ? 'list-item-active' : '')"
    (click)="(navigationElement.type === 'state' ? navigate(navigationElement.id) : null)"
  >
    <mat-icon class="material-icons-outlined" mat-list-icon>{{ navigationElement.icon }}</mat-icon>
    {{ navigationElement.label }}
  </mat-list-item>
</mat-nav-list>
