<mat-nav-list>
  <mat-list-item *ngFor="let navigationElement of navigationElements">
    <mat-icon class="material-icons-outlined" mat-list-icon>{{ navigationElement.icon }}</mat-icon>
    <a *ngIf="navigationElement.type === 'route'" matLine [routerLink]="'/' + navigationElement.id" routerLinkActive="active">{{ navigationElement.label }}</a>
    <a *ngIf="navigationElement.type === 'state'" matLine (click)="navigate(navigationElement.id)">{{ navigationElement.label }}</a>
  </mat-list-item>
</mat-nav-list>
