@import "paperwork-theme.scss";

.mat-nav-list {
  .mat-list-item {
    color: $color-only-grey;
    height: 74px !important; // TODO: Y U NO WORK W/O !IMPORTANT?!?!?!
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    ::ng-deep .mat-list-item-content {
      padding: 0px 10px 0px 67px;
    }
  }
}
