@import "paperwork-theme.scss";

:host(.background-plain) {
  .mat-toolbar, .mat-toolbar-row {
    background: $background-plain;
  }
}

:host(.background-alternative) {
  .mat-toolbar, .mat-toolbar-row {
    background: $background-alternative;
  }
}

.mat-toolbar {
  .mat-toolbar-row {
    margin: 48px 0px 0px 0px;
    padding: 0px 0px 0px 16px;

    button {
      border-radius: 20px;

      .mat-button-ripple, .mat-button-focus-overlay {
        border-radius: 20px;
      }
    }

    button.mat-button {
      margin-right: 8px;
      min-width: 36px;
      padding: 0px 6px;
    }

    button.mat-raised-button.mat-primary {
      margin-right: 16px;
      .mat-icon {
        line-height: 20px;
      }
    }

    form.search {
      color: $color-only-grey;
      // margin-right: 46px;

      .search-field {

        .mat-icon {
          font-size: 1em;
          width: 24px;
          height: 24px;
        }

        input.mat-input-element {
          font-size: 0.8em;
        }

        .mat-form-field-label {
          font-size: 0.8em;
        }

      }
    }

  }
}
