@import '~@angular/material/theming';
@import 'Montserrat.scss';

$paperwork-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $display-4:     mat-typography-level(110px, 110px, 300),
  $display-3:     mat-typography-level(54px, 54px, 400),
  $display-2:     mat-typography-level(43px, 46px, 400),
  $display-1:     mat-typography-level(32px, 38px, 400),
  $headline:      mat-typography-level(22px, 30px, 400),
  $title:         mat-typography-level(18px, 30px, 400),
  $subheading-2:  mat-typography-level(14px, 26px, 400),
  $subheading-1:  mat-typography-level(13px, 22px, 400),
  $body-2:        mat-typography-level(12px, 22px, 500),
  $body-1:        mat-typography-level(12px, 18px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(12px, 12px, 500),
  $input:         mat-typography-level(inherit, 1.125, 400)
);
@include mat-core($paperwork-typography);


// $my-custom-primary-color: (
// 50 : #edebfc,
// 100 : #d3cef8,
// 200 : #b6aef3,
// 300 : #988dee,
// 400 : #8274eb,
// 500 : #6c5ce7,
// 600 : #6454e4,
// 700 : #594ae0,
// 800 : #4f41dd,
// 900 : #3d30d7,
// A100 : #ffffff,
// A200 : #e9e7ff,
// A400 : #b9b4ff,
// A700 : #a29bff,
// contrast: (
// 50 : #000000,
// 100 : #000000,
// 200 : #000000,
// 300 : #000000,
// 400 : #000000,
// 500 : #ffffff,
// 600 : #ffffff,
// 700 : #ffffff,
// 800 : #ffffff,
// 900 : #ffffff,
// A100 : #000000,
// A200 : #000000,
// A400 : #000000,
// A700 : #000000,
// )
// );
// $my-app-primary: mat-palette($my-custom-primary-color);

$default-font-color-regular: rgba(0, 0, 0, 0.87);
$default-font-color-grey: rgba(0, 0, 0, 0.54);
$default-font-color-light: rgba(0, 0, 0, 0.34);
$default-font-color-ultra-light: rgba(0, 0, 0, 0.1);

$paperwork-primary: mat-palette($mat-light-blue);
$paperwork-accent:  mat-palette($mat-light-blue);
$paperwork-warn:    mat-palette($mat-red);

$paperwork-theme: mat-light-theme($paperwork-primary, $paperwork-accent, $paperwork-warn);

$primary: mat-color($paperwork-primary);
$accent: mat-color($paperwork-accent);
$warn: mat-color($paperwork-warn);

$background-plain: #FFFFFF;
$background-alternative: #F6FAFD;

@include angular-material-theme($paperwork-theme);

$sidebar-width: 366px;

a {
  color: $primary;
  text-decoration: none;
}

a[color=primary] {
  font-weight: mat-font-weight($paperwork-typography, button);
  color: $primary;
  text-decoration: none;
}

a[color=white] {
  color: #ffffff;
  text-decoration: none;
}

.background-plain {
  background-color: $background-plain;
}
.background-alternative {
  background-color: $background-alternative;
}

.profile { // TODO: This is unbelievably stupid and I cannot believe there's no other way to do this. Find and fix!
  .mat-card-header-text {
    margin: 48px 74px 0px 74px;
  }
}

.snackbar-type-success {
  background: $primary;
}

.snackbar-type-info {
  color: $default-font-color-grey;
  background: $background-plain;
}

.snackbar-type-error {
  background: $warn;
}


.is-mobile .view-main-sidenav-container {
  flex: 1 0 auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.color-regular {
  color: $default-font-color-regular;
}

.color-grey {
  color: $default-font-color-grey;
}

.color-light {
  color: $default-font-color-light;
}

.color-ultra-light {
  color: $default-font-color-ultra-light;
}

.full-width {
  width: 100%;
}

.mat-chip-list.tag-list {
  .tag {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    min-height: 26px;
  }

  .tag.mat-chip-selected { // TODO: Doesn't work
    background-color: transparent !important;
  }

  .tag.mat-chip-focused { // TODO: Doesn't work
    background-color: transparent !important;
  }

}
