@import '~@angular/material/theming';
@import 'Montserrat.scss';

$paperwork-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $display-4:     mat-typography-level(110px, 110px, 300),
  $display-3:     mat-typography-level(54px, 54px, 400),
  $display-2:     mat-typography-level(43px, 46px, 400),
  $display-1:     mat-typography-level(32px, 38px, 400),
  $headline:      mat-typography-level(22px, 30px, 400),
  $title:         mat-typography-level(18px, 30px, 400),
  $subheading-2:  mat-typography-level(14px, 26px, 400),
  $subheading-1:  mat-typography-level(13px, 22px, 400),
  $body-2:        mat-typography-level(12px, 22px, 500),
  $body-1:        mat-typography-level(12px, 18px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(12px, 12px, 500),
  $input:         mat-typography-level(inherit, 1.125, 400)
);
@include mat-core($paperwork-typography);


// $my-custom-primary-color: (
// 50 : #edebfc,
// 100 : #d3cef8,
// 200 : #b6aef3,
// 300 : #988dee,
// 400 : #8274eb,
// 500 : #6c5ce7,
// 600 : #6454e4,
// 700 : #594ae0,
// 800 : #4f41dd,
// 900 : #3d30d7,
// A100 : #ffffff,
// A200 : #e9e7ff,
// A400 : #b9b4ff,
// A700 : #a29bff,
// contrast: (
// 50 : #000000,
// 100 : #000000,
// 200 : #000000,
// 300 : #000000,
// 400 : #000000,
// 500 : #ffffff,
// 600 : #ffffff,
// 700 : #ffffff,
// 800 : #ffffff,
// 900 : #ffffff,
// A100 : #000000,
// A200 : #000000,
// A400 : #000000,
// A700 : #000000,
// )
// );
// $my-app-primary: mat-palette($my-custom-primary-color);

$color-only-grey: #ABB3BC;
$color-only-dark-grey: #6D7278;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$paperwork-primary: mat-palette($mat-light-blue);
$paperwork-accent:  mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$paperwork-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$paperwork-theme: mat-light-theme($paperwork-primary, $paperwork-accent, $paperwork-warn);

$primary: mat-color($paperwork-primary);
$accent: mat-color($paperwork-accent);
$warn: mat-color($paperwork-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($paperwork-theme);

.view-main-sidenav-container, .view-main-mat-toolbar {
  background-color: rgba(247, 250, 253, 1);
}

.view-main-sidenav-container {
  .mat-drawer-side {
    border-right: 0px;
  }
}

.view-main-mat-sidenav-content {
  padding: 0px 80px 0px 32px;

  .view-main-mat-toolbar {
    .view-main-mat-toolbar-row-logo {
      padding: 0px;
      margin: 74px 0px 0px 0px;

      button.view-main-mat-toolbar-row-logo-sidebar-toggle {
        color: $color-only-grey;

        .mat-button-wrapper {
          .mat-icon {
            font-size: 2.8em;
            text-align: left;
          }
        }
      }

      img.logo {
        display: block;
        width: 48px;
        height: 48px;
      }
    }

    .view-main-mat-toolbar-row-menu {
      margin: 48px 0px 0px 0px;
      padding: 0px 0px 0px 16px;

      button {
        border-radius: 20px;

        .mat-button-ripple, .mat-button-focus-overlay {
          border-radius: 20px;
        }
      }

      button.mat-button {
        margin-right: 8px;
        min-width: 36px;
        padding: 0px 6px;
      }

      button.mat-raised-button.mat-primary {
        margin-right: 16px;
        .mat-button-wrapper {
          font-size: 1.1em;

          .mat-icon {
            line-height: 20px;
          }
        }
      }

      form.search {
        color: $color-only-grey;
        // margin-right: 46px;

        .mat-form-field {
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              align-items: flex-end;

              .mat-form-field-prefix {
                .mat-icon {
                  font-size: 1em;
                  width: 24px;
                  height: 24px;
                }
              }

              .mat-form-field-infix {
                input.mat-input-element {
                  font-size: 0.8em;
                }

                .mat-form-field-label-wrapper {
                  .mat-form-field-label {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.notes-mat-table {
  background: transparent;

  .mat-checkbox-frame {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .mat-row:after {
    display: inline-block;
    position: absolute;
    content:"";
    width: 86px;
    border-top: 1px solid rgba(247, 250, 253, 1);
    left: 0px;
    bottom: -49px;
  }

  .mat-header-row {
    border-bottom-color: transparent;
  }

  .mat-row, .mat-header-row {
    position: relative;

    .mat-column-select {
      max-width: 64px;
    }

    .mat-column-created_at {
      max-width: 26px;
    }
  }

  .mat-header-row {
    .mat-column-select {
      color: $color-only-grey;
    }

    .mat-column-title {
      color: $color-only-grey;
    }
    .mat-column-created_at {
      color: $color-only-grey;
    }
  }

  .mat-row {
    margin-bottom: 18px;

    .mat-column-select {
      color: $primary;
    }

    .mat-column-title, .mat-column-created_at {
      // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      section.mat-typography {
        margin-bottom: 18px;

        h2 {
          margin-bottom: 2px;
        }
      }
    }

    .mat-column-title {
      section.mat-typography {
        width: 90%;

        h2 {
          font-size: (mat-font-size($paperwork-typography, title) - 1);
          font-weight: 500;
          color: $color-only-dark-grey;
        }

        .caption {
          color: $color-only-grey;
        }
      }
    }

    .mat-column-created_at {
      section.mat-typography {
        h2 {
          color: $primary;
          font-size: mat-font-size($paperwork-typography, caption);
        }
      }
    }
  }
}

mat-card.profile {
  min-width: 366px;
  padding: 0px;

  .mat-card-header {
    display: block;

    .mat-card-avatar {
      background: url('/assets/images/avatar-default.png');
      width: 100px;
      height: 100px;
      margin: 48px 74px 0px 74px;
    }

    .mat-card-header-text {
      margin: 48px 74px 0px 74px;

      .mat-card-title {
        font-weight: 500;
      }

      .mat-card-subtitle {
        font-size: mat-font-size($paperwork-typography, subheading-2);
        color: $color-only-grey;
      }
    }
  }
}

.sidebar-navigation-mat-nav-list {
  .mat-list-item {
    color: $color-only-grey;
    height: 74px !important; // TODO: Y U NO WORK W/O !IMPORTANT?!?!?!
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .mat-list-item-content {
      padding: 0px !important;
      margin: 0px 74px 0px 74px;
    }
  }
}

.snackbar-type-success {
  background: $primary;
}

.snackbar-type-info {
  color: $color-only-grey;
  background: #fff;
}

.snackbar-type-error {
  background: $warn;
}
